/Debug/
/Default/
/.autotools
/Capa.gcno
/CapaFondo.gcno
/CapaPrincipal.gcno
/DefaultSettings.gcno
/Escenario.gcno
/Frame.gcno
/KeyboardControl.gcno
/LTexture.gcno
/Mundo.gcno
/ParserJSON.gcno
/Personaje.gcno
/Sprite.gcno
/TestLog.gcno
/Tiempo.gcno
/Ventana.gcno
/jsoncpp.gcno
/logging.gcno
/main.gcno
/Release/
